<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>E-STU - Tập đoàn điện lực STU</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
 <link href="lib/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="lib/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="lib/advanced-datatable/css/DT_bootstrap.css" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>E -<span>STU</span></b></a>
      <!--logo end-->
     
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Đăng xuất</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="index.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Tên Nhân Viên</h5>
          <li class="mt">
            <a  href="index.html">
              <i class="fa fa-home"></i>
              <span>Trang chủ</span>
              </a>
          </li>
            <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-search" ></i>
              <span>Tra cứu thông tin</span>
              </a>
              <ul class="sub">
              <li><a href="tra_theodoinotiendien.html"> <i class="fa fa-money"></i>Theo dõi nợ tiền điện</a></li>
              <li><a href="tra_khachhang.html"> <i class="fa fa-users"></i>Tra cứu khách hàng</a></li>
              <li><a href="tra_dienke.html"> <i class="fa fa-bolt"></i>Tra cứu điện kế</a></li>
            </ul>
          </li>
          <li>
            <a  href="ql_giadien.html">
              <i class="fa fa-signal" ></i>
              <span>Quản lí giá điện</span>
              </a>
          </li>
            <li>
            <a href="ql_dienke.html">
              <i class="fa fa-flash" ></i>
              <span>Quản lí điện kế</span>
              </a>
          </li>
             <li>
            <a href="ql_nhanvien.html">
              <i class="fa fa-user" ></i>
              <span>Quản lí nhân viên</span>
              </a>
          </li>
         <li>
            <a href="ql_khachhang.html">
              <i class="fa fa-users" ></i>
              <span>Quản lí khách hàng</span>
              </a>
          </li>
             <li>
            <a href="ql_ghisodien.html">
              <i class="fa fa-file-text" ></i>
              <span>Ghi số điện</span>
              </a>
          </li>
       <li>
            <a class="active" href="ql_thanhtoan.html">
              <i class="fa fa-money" ></i>
              <span>Thanh toán hóa đơn</span>
              </a>
          </li>
           
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
     <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
           <!-- INLINE FORM ELELEMNTS -->
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"><i class="fa fa-angle-right"></i> Thanh toán hóa đơn</h4>
              <form class="form-inline" role="form" method="get" action="controller/thanhtoan/xulithanhtoan.html">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputID">Mã khách hàng</label>
                  <input type="text" class="form-control" id="exampleInputID" placeholder="Nhập mã khách hàng">
                </div>
                <button type="submit" class="btn btn-theme">Tìm hóa đơn</button>
              </form>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>E-STU</strong>. All Rights Reserved 2019
        </p>
  
        <a href="ql_giadien.html" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
    <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" src="lib/advanced-datatable/js/jquery.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="lib/jquery.scrollTo.min.js"></script>
  <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="lib/advanced-datatable/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="lib/advanced-datatable/js/DT_bootstrap.js"></script>
  <!--common script for all pages-->
  <script src="lib/common-scripts.js"></script>
  <!--script for this page-->
  <script type="text/javascript">
    /* Formating function for row details */
    $(document).ready(function() {    
      var oTable = $('#table-list').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [1, 'asc']
        ]
      });

    });
  </script>

</body>

</html>
